:root {
    --background-light : #F0F2FA;
    --background-white : #F6F5FF;
    --text-dark : #0A0040;
    --color-primary : #6143FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background-white);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}

nav {
    height: 100px;
    background-color: var(--background-light);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    padding: 20px 30px;
    border-radius: 10px;
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

main {
    display: flex;
    padding: 20px;
}

section.graph {
    background-color: teal;
    width: 33%;
    height: 100%;
}